<div class="row">
    <div class="col-6 offset-3">
        <div class="my-3">
            <h5>{{(counterDesc$ |async)}}</h5>
        </div>
        <div class="form-group">
            <input type="number" class="form-control" [(ngModel)]="value" placeholder="Enter Value">&nbsp;
            <button type="button" (click)="addValue()" class="btn btn-primary form-control">Add Custom Value</button>
        
        </div>
        <div class="form-group my-3">
            
            <button type="button" (click)="changeDesc()" class="btn btn-primary form-control">Change Desc </button>
        
        </div>
    </div>
</div>
